<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FocusFlowApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Focus_Flow">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Focus_Flow" />
        <activity-alias
            android:name=".DefaultIconAlias"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_classic"
            android:roundIcon="@mipmap/ic_launcher_classic"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity" />
        <activity-alias
            android:name=".ClassicIconAlias"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_classic"
            android:roundIcon="@mipmap/ic_launcher_classic"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".OceanIconAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_ocean"
            android:roundIcon="@mipmap/ic_launcher_ocean"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".AuroraIconAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_aurora"
            android:roundIcon="@mipmap/ic_launcher_aurora"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ForestIconAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_forest"
            android:roundIcon="@mipmap/ic_launcher_forest"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".TomatoGirlIconAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_tomato_girl"
            android:roundIcon="@mipmap/ic_launcher_tomato_girl"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".TomatoClockIconAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_tomato_clock"
            android:roundIcon="@mipmap/ic_launcher_tomato_clock"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Focus_Flow" />
        <activity
            android:name=".feature.reminder.TaskAlarmActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:theme="@style/Theme.Focus_Flow" />
        <receiver
            android:name=".feature.reminder.TaskReminderReceiver"
            android:exported="false" />
        <receiver
            android:name=".feature.reminder.TaskReminderBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".feature.widget.FocusQuickWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/focus_quick_widget_info" />
        </receiver>
        <service
            android:name=".service.focus.FocusTimerService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="local_focus_timer" />
        </service>
    </application>

</manifest>
